h1 {
	font-family: Helvetica;
	text-align: center;
}

img {
	width: 100px;
}

#big_div {
	margin: auto;
	border: 5px solid black;
	width: 516px;
	display: flex;
	flex-flow: column wrap;
}

#b {
	display: flex;
}

#c {
	display: flex;
	flex-flow: column wrap;
}

#d {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
}